<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoIxoHRrURrNX6zz6Sd7gQ6fbmCZDt_PY</string>
	<key>GCM_SENDER_ID</key>
	<string>334507341406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artfolioApp</string>
	<key>PROJECT_ID</key>
	<string>artfolio-app</string>
	<key>STORAGE_BUCKET</key>
	<string>artfolio-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334507341406:ios:3e396992e59f102f4ca6cf</string>
</dict>
</plist>